* {
  font-family:'Courier New';
padding: 0px;
margin: 0px;}

.cursor{
  position: absolute;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-radius: 16px;
  border-style: solid;
  border-color: black;
  background: white;
  opacity: 0.4;
  z-index: 100;
  pointer-events:none;}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}



footer {
  position: relative;
  margin: 30px;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 70px;
  height: 40px;
  flex-direction: row;
  transform-style: preserve-3d;
}

footer::after {
  content: "";
  position: absolute; 
  background: white;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transform: translateZ(-50px);
}

footer a{
  margin-right: 10px;
  font-family:'Courier New';
}

body::before {
  content: "";
  background-image: linear-gradient(var(--deg), #051937, #002464, #002d92, #0032bf, #122feb);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

.navbar{
  font-family:'Courier New';
}

.nav-list {
  display: flex;
  justify-content: start;
  list-style-type: none;
}
.nav-list li{
  position:relative;
  transform-style: preserve-3d;
  display: flex;
  margin: 20px;
  margin-top: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 70px;
  height: 40px;
  width: auto;
  flex-direction: row;
}

.nav-list li:hover::after{
  content: "";
  position: absolute; 
  background: white;
  border-radius: inherit;
  width: 120%;
  height: 120%;
  filter: blur(10px);
  transform: translateZ(-50px);
}

.card-slideshow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-slideshow-button{
  display: none;
  padding: 10px;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 20px;
  border: none;
  color: black;
  box-shadow: 4px 10px #050A2C;
}
.card-slideshow-button:hover{
  background-color: white;
  border-radius: 20px;
  box-shadow: none;
  transition: 0.5s;
  color: black;
}

.card_container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.slideshow-text-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  max-width: 50%;
  padding: 10px;
  padding-right: 160px;
  z-index: -1;
  transform-style: preserve-3d;
}

.slideshow-text-section::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: inherit;
  width: 90%;
  height: 120%;
  filter: blur(10px);
  transform: translateZ(-50px);
}


.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #f9f9f9;
  border-radius: 10px;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.card::after {
  content: "";
  position: absolute; 
  background: white;
  border-radius: inherit;
  width: 105%;
  height: 105%;
  filter: blur(10px);
  transform: translateZ(-50px);
}

.image-section {
  flex: 1;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.text-section {
  padding: 5px;
  background-color: #f9f9f9;
  text-align: center;
}
